{{! Citation for the following function: }}
{{! Date: 02/29/2024}}
{{! Based on:}} 
{{! Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app }} 

<table id="pets-table">
    <caption>Pets</caption>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Pet ID</th>
            <th>Pet Name</th>
            <th>Parent ID</th>
            <th>Breed</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="pets-table-body">

        {{!-- For each row, print the pet id, pet name, parent id, and breed in order --}}
        {{#each data}}
        <tr data-value="{{this.pet_id}}">
            <td>{{this.pet_id}}</td>
            <td>{{this.pet_name}}</td>
            <td>{{this.parent_id}}</td>
            <td>{{this.breed}}</td>
            <td><button onclick="deletePet({{this.pet_id}})"><i class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_pet.js"></script>


<div class="forms">
    {{!-- Form to add a pet record to the table --}}
    <form id="add-pet-form-ajax">
        <h2>Add New Pet</h2>
        <input type="text" name="input-pet-name" id="input-pet-name" placeholder="Pet Name" required>
        <br>
        <select name="input-parent-id" id="input-parent-id" required>
            <option value="">Parent ID</option>
            {{#each parents_data}}
            <option value="{{this.parent_id}}">{{this.parent_id}} [{{this.parent_name}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="text" name="input-breed" id="input-breed" placeholder="Breed">
        <br>
        <input type="submit" value="Add Pet">
        <br>
    </form>

    <script src="./js/add_pet.js"></script>

    {{!-- Form to update a pet record to the table --}}
    <form id="update-pet-form-ajax">
        <h2>Update Pet Data</h2>

        <select name="input-pet-id" id="select-pet-id" required>
            <option value="">Pet ID [Pet Name]</option>
            {{#each data}}
            <option value="{{this.pet_id}}">{{this.pet_id}} [{{this.pet_name}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="text" name="input-pet-name" id="update-pet-name" placeholder="Pet Name">
        <br>
        <select name="input-parent-id" id="update-parent-id">
            <option>Parent ID</option>
            {{#each parents_data}}
            <option value="{{this.parent_id}}">{{this.parent_id}} [{{this.parent_name}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="text" name="input-breed" id="update-breed" placeholder="Breed">
        <br>
        <input type="submit" value="Update Pet">
        <br>

    </form>

    <script src="./js/update_pet.js"></script>
    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
</div>