<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- Create a table --}}
<table id="pets-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.pet_id}}</td>
            <td>{{this.pet_name}}</td>
            <td>{{this.parent_id}}</td>
            <td>{{this.breed}}</td>
            {{!-- <td>{{this.age}}</td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>


<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<form id="add-pet-form-ajax">
    <label for="input-pet-name">Pet Name </label>
    <input type="text" name="input-pet-name" id="input-pet-name">
    
    <label for="input-parent-id">Parent ID </label>
    <input type="number" name="input-parent-id" id="input-parent-id">

    <label for="input-breed">Breed </label>
    <input type="text" name="input-breed" id="input-breed">




    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_pet.js"></script>