<h1>Tokopi Playground</h1>
<nav><a href="parents.hbs">Parents</a></nav>

<table id="pets-table">
    <caption>Pets</caption>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="pets-table-body">

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value="{{this.pet_id}}">
            <td>{{this.pet_id}}</td>
            <td>{{this.pet_name}}</td>
            <td>{{this.parent_id}}</td>
            <td>{{this.breed}}</td>
            <td><button onclick="deletePet({{this.pet_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_pet.js"></script>


{{!-- Form to add a record to the table --}}
<h2>Adding Pet Form</h2>
<form id="add-pet-form-ajax">
    <label for="input-pet-name">Pet Name:</label>
    <input type="text" name="input-pet-name" id="input-pet-name">

    <label for="input-parent-id">Parent ID: </label>
    {{!-- <input type="number" name="input-parent-id" id="input-parent-id"> --}}
    <select name="input-parent-id" id="input-parent-id">
        <option>Select</option>
        {{#each parents_data}}
        <option value="{{this.parent_id}}">{{this.parent_id}}</option>
        {{/each}}
    </select>

    <label for="input-breed">Breed: </label>
    <input type="text" name="input-breed" id="input-breed">

    <input type="submit" value="Add Pet">
</form>

<script src="./js/add_pet.js"></script>


<h2>Updating Pet Form</h2>
<form id="update-pet-form-ajax">

    <label for="input-pet-id">Pet ID [Pet Name]:</label>
    <select name="input-pet-id" id="select-pet-id">
        <option>Select</option>
        {{#each data}}
        <option value="{{this.pet_id}}">{{this.pet_id}} [{{this.pet_name}}]</option>
        {{/each}}
    </select>
    {{!-- <label for="input-pet-name">Pet Name:</label>
    <input type="text" name="input-pet-name" id="display-pet-name" value="{{this.pet_name}}"> --}}

    <label for="input-parent-id">Parent ID: </label>
    <select name="input-parent-id" id="update-parent-id">
        <option>Select</option>
        {{#each parents_data}}
        <option value="{{this.parent_id}}">{{this.parent_id}}</option>
        {{/each}}
    </select>

    <label for="input-breed">Breed:</label>
    <input type="text" name="input-breed" id="update-breed">
    <input type="submit" value="Update Pet">

</form>

<script src="./js/update_pet.js"></script>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}