{{!-- Citation for the following function:
Date: 03/07/2024
Based on: CS 340 starter code with the exception of displaying user-friendly foreign key drop-downs, using placeholders
for input fields instead of labels, utilizing a trash icon to show the delete feature, and implementing date input
fields to correctly display the date.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

{{!-- display invoices table --}}
<table id="invoices-table">
    <caption>Invoices</caption>
    {{!-- display invoices header --}}
    <thead>
        <tr>
            <th>Invoice ID</th>
            <th>Parent</th>
            <th>Invoice Date</th>
            <th>Invoice Total ($)</th>
        </tr>
    </thead>

    {{!-- display every row from invoices table with attributes: invoice id, parent id, invoice date, and invoice total
    --}}
    <tbody id="invoices-table-body">
        {{#each invoices_data}}
        <tr data-value="{{this.invoice_id}}">
            <td>{{this.invoice_id}}</td>
            <td>{{this.parent_name}}</td>
            <td>{{formatDate this.invoice_date}}</td>
            <td>{{this.invoice_total}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<div class="forms">
    {{!-- Form to add an invoice to the table --}}
    <form id="add-invoice-form-ajax">
        <h2>Add New Invoice</h2>
        <select name="input-parent-id" id="input-parent-id" required>
            <option value="">Parent [ID]</option>
            {{#each parents_data}}
            <option value="{{this.parent_id}}">{{this.parent_name}} [{{this.parent_id}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="date" name="input-invoice-date" id="input-invoice-date" required>
        <br>
        <input type="number" min="0.01" step="0.01" name="input-invoice-total" id="input-invoice-total"
            placeholder="Invoice Total" required>
        <br>
        <input type="submit" value="Add Invoice">
        <br>
    </form>

    <script src="./js/add_invoice.js"></script>

    {{!-- Form to update an invoice on the table --}}
    <form id="update-invoice-form-ajax">
        <h2>Update Invoice Data</h2>
        {{!-- display dropdown by iterating through each row --}}
        <select name="input-invoice-id" id="select-invoice-id" required>
            <option value="">Invoice [ID]</option>
            {{#each invoices_data}}
            <option value="{{this.invoice_id}}">{{formatDate this.invoice_date}} {{this.parent_name}}
                [{{this.invoice_id}}]</option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row --}}
        <select name="input-parent-id" id="update-parent-id" required>
            <option value="">Parent [ID]</option>
            {{#each parents_data}}
            <option value="{{this.parent_id}}">{{this.parent_name}} [{{this.parent_id}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="date" name="input-invoice-date" id="update-invoice-date" required>
        <br>
        <input type="number" min="0.01" step="0.01" name="input-invoice-total" id="update-invoice-total"
            placeholder="Invoice Total" required>
        <br>
        <input type="submit" value="Update Invoice">
        <br>

    </form>

    <script src="./js/update_invoice.js"></script>
    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
</div>