{{!-- Citation for the following function:
Date: 02/29/2024
Based on: CS 340 starter code with the exception of displaying user-friendly foreign key drop-downs, using placeholders
for input fields instead of labels, and utilizing a trash icon to show the delete feature.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

{{!-- display parents table--}}
<table id="parents-table">
    <caption>Parents</caption>
    {{!-- display parents header --}}
    <thead>
        <tr>
            <th>Parent ID</th>
            <th>Parent Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody id="parents-table-body">
        {{!-- display every row from parents table with attributes: parent id, parent name, parent number, parent email--}}
        {{#each parents_data}}
        <tr data-value="{{this.parent_id}}">
            <td>{{this.parent_id}}</td>
            <td>{{this.parent_name}}</td>
            <td>{{this.parent_number}}</td>
            <td>{{this.parent_email}}</td>
            {{!-- display delete button where delete functionality is executed on click for the corresponding row --}}
            <td><button onclick="deleteParent({{this.parent_id}})"><i class="fa fa-trash"></i></button></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_parent.js"></script>

<div class="forms">
    {{!-- Form to add a parent record to the table --}}
    <form id="add-parent-form-ajax">
        <h2>Add New Parent</h2>
        <input type="text" name="input-parent-name" id="input-parent-name" placeholder="Parent Name" required>
        <br>
        <input type="tel" name="input-parent-number" id="input-parent-number" placeholder="Phone Number" required>
        <br>
        <input type="email" name="input-parent-email" id="input-parent-email" placeholder="Email">
        <br>
        <input type="submit" value="Add Parent">
        <br>
    </form>

    <script src="./js/add_parent.js"></script>

    {{!-- Form to update a parent record to the table --}}
    <form id="update-parent-form-ajax">
        <h2>Update Parent Data</h2>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="input-parent-id" id="select-parent-id" required>
            <option value="">Parent [ID]</option>
            {{#each parents_data}}
            <option value="{{this.parent_id}}">{{this.parent_name}} [{{this.parent_id}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="text" name="input-parent-name" id="update-parent-name" placeholder="Parent Name">
        <br>
        <input type="tel" name="input-parent-number" id="update-parent-number" placeholder="Phone Number">
        <br>
        <input type="email" name="input-parent-email" id="update-parent-email" placeholder="Email">
        <br>
        <input type="submit" value="Update Parent">
        <br>
    </form>

    <script src="./js/update_parent.js"></script>
</div>