{{!-- Citation for the following function:
Date: 03/07/2024
Based on: CS 340 starter code with the exception of displaying user-friendly foreign key drop-downs, using placeholders for input fields instead of labels, and utilizing a trash icon to show the delete feature.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

{{!-- display pet invoices table --}}
<table id="pet-invoices-table">
    <caption>Pet Invoices</caption>
    {{!-- display pet invoices header--}}
    <thead>
        <tr>
            <th>Pet Invoice ID</th>
            <th>Pet ID</th>
            <th>Invoice ID</th>
        </tr>
    </thead>

    {{!-- display every row from pet invoices table with attributes: pet invoice id, pet id, invoice id--}}
    <tbody id="pet-invoices-table-body">
        {{#each pet_invoices_data}}
        <tr data-value="{{this.pet_invoice_id}}">
            <td>{{this.pet_invoice_id}}</td>
            <td>{{this.pet_id}}</td>
            <td>{{this.invoice_id}}</td>
            {{!-- display delete button where delete functionality is executed on click for the corresponding row --}}
            <td><button onclick="deletePetInvoice({{this.pet_invoice_id}})"><i class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_pet_invoice.js"></script>

{{!-- Form to add a record to the table --}}
<div class="forms">
    {{!-- Form to add a pet invoice record to the table --}}
    <form id="add-pet-invoice-form-ajax">
        <h2>Add New Pet Invoice</h2>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="input-pet-id" id="input-pet-id" required>
            <option value="">Pet ID</option>
            {{#each pets_data}}
            <option value="{{this.pet_id}}">{{this.pet_id}}[{{this.pet_name}}]</option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="input-invoice-id" id="input-invoice-id" required>
            <option value="">Invoice ID</option>
            {{#each invoices_data}}
            <option value="{{this.invoice_id}}">{{this.invoice_id}}</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Add Pet Invoice">
        <br>
    </form>

    <script src="./js/add_pet_invoice.js"></script>

    {{!-- Form to update a pet invoice record to the table --}}
    <form id="update-pet-invoice-form-ajax">
        <h2>Update Pet Invoice</h2>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="select-pet-invoice-id" id="select-pet-invoice-id">
            <option>Pet Invoice ID</option>
            {{#each pet_invoices_data}}
            <option value="{{this.pet_invoice_id}}">{{this.pet_invoice_id}}</option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="update-pet-id" id="update-pet-id">
            <option>Pet ID</option>
            {{#each pets_data}}
            <option value="{{this.pet_id}}">{{this.pet_id}}</option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="update-invoice-id" id="update-invoice-id">
            <option>Invoice ID</option>
            {{#each invoices_data}}
            <option value="{{this.invoice_id}}">{{this.invoice_id}}</option>
            {{/each}}
        </select>

        <br>
        <input type="submit" value="Update Pet Invoice">
        <br>

    </form>

    <script src="./js/update_pet_invoice.js"></script>

</div>