{{!-- Citation for the following function:
Date: 03/07/2024
Based on: CS 340 starter code with the exception of displaying user-friendly foreign key drop-downs, using placeholders
for input fields instead of labels, and utilizing a trash icon to show the delete feature.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<table id="services-during-visit-table">
    <caption>Services During Visit</caption>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Service During Visit ID</th>
            <th>Visit ID</th>
            <th>Service ID</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="services-during-visit-table-body">

        {{!-- For each row, print the service during visit id, visit id, and service id in order --}}
        {{#each services_during_visit_data}}
        <tr data-value="{{this.service_during_visit_id}}">
            <td>{{this.service_during_visit_id}}</td>
            <td>{{this.visit_id}}</td>
            <td>{{this.service_id}}</td>
            <td><button onclick="deleteServiceDuringVisit({{this.service_during_visit_id}})"><i
                        class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_service_during_visit.js"></script>

<div class="forms">
    {{!-- Form to add a service during vist record to the table --}}
    <form id="add-services-during-visit-form-ajax">
        <h2>Add New Service During Visit</h2>
        <select name="input-visit-id" id="input-visit-id">
            <option>Visit ID</option>
            {{#each visits_data}}
            <option value="{{this.visit_id}}">{{this.visit_id}}</option>
            {{/each}}
        </select>
        <br>
        <select name="input-service-id" id="input-service-id">
            <option>Service [ID]</option>
            {{#each services_data}}
            <option value="{{this.service_id}}">{{this.service_name}} [{{this.service_id}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Add Services During Visit">
        <br>
    </form>
    <script src="./js/add_service_during_visit.js"></script>

    {{!-- Form to update a service during vist record from the table --}}
    <form id="update-service-during-visit-form-ajax">
        <h2>Update Service During Visit Data</h2>
        <select name="select-service-during-visit-id" id="select-service-during-visit-id">
            <option>Service During Visit ID</option>
            {{#each services_during_visit_data}}
            <option value="{{this.service_during_visit_id}}">{{this.service_during_visit_id}}</option>
            {{/each}}
        </select>
        <br>
        <select name="update-visit-id" id="update-visit-id">
            <option>Visit ID</option>
            {{#each visits_data}}
            <option value="{{this.visit_id}}">{{this.visit_id}}</option>
            {{/each}}
        </select>
        <br>
        <select name="update-service-id" id="update-service-id">
            <option>Service [ID]</option>
            {{#each services_data}}
            <option value="{{this.service_id}}">{{this.service_name}} [{{this.service_id}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Update Service During Visit">
        <br>
    </form>

    <script src="./js/update_service_during_visit.js"></script>
</div>