
<table id="services-during-visit-table">
    <caption>Services During Visit</caption>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each services_during_visit_data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="services-during-visit-table-body">

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each services_during_visit_data}}
        <tr data-value="{{this.service_during_visit_id}}">
            <td>{{this.service_during_visit_id}}</td>
            <td>{{this.visit_id}}</td>
            <td>{{this.service_id}}</td>
            <td><button onclick="deleteServiceDuringVisit({{this.service_during_visit_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_service_during_visit.js"></script>

{{!-- Form to add a record to the table --}}
<h2>Adding Services During Visit Form</h2>
<form id="add-services-during-visit-form-ajax">
    <label for="input-visit-id">Visit ID: </label>
    <select name="input-visit-id" id="input-visit-id">
        <option>Select</option>
        {{#each visits_data}}
        <option value="{{this.visit_id}}">{{this.visit_id}}</option>
        {{/each}}
    </select>

    <label for="input-service-id">Service ID: </label>
    <select name="input-service-id" id="input-service-id">
        <option>Select</option>
        {{#each services_data}}
        <option value="{{this.service_id}}">{{this.service_id}}</option>
        {{/each}}
    </select>

    <input type="submit" value="Add Services During Visit">
</form>

<script src="./js/add_service_during_visit.js"></script>


<h2>Updating Services During Visit Form</h2>
<form id="update-service-during-visit-form-ajax">

    <label for="select-service-during-visit-id">Service During Visit ID:</label>
    <select name="select-service-during-visit-id" id="select-service-during-visit-id">
        <option>Select</option>
        {{#each services_during_visit_data}}
        <option value="{{this.service_during_visit_id}}">{{this.service_during_visit_id}}</option>
        {{/each}}
    </select>

    <label for="update-visit-id">Visit ID:</label>
    <select name="update-visit-id" id="update-visit-id">
        <option>Select</option>
        {{#each visits_data}}
        <option value="{{this.visit_id}}">{{this.visit_id}}</option>
        {{/each}}
    </select>

    <label for="update-service-id">Service ID:</label>
    <select name="update-service-id" id="update-service-id">
        <option>Select</option>
        {{#each services_data}}
        <option value="{{this.service_id}}">{{this.service_id}}</option>
        {{/each}}
    </select>


    <input type="submit" value="Update Service During Visit">

</form>

<script src="./js/update_service_during_visit.js"></script>
