{{!-- Citation for the following function:
Date: 03/07/2024
Based on: CS 340 starter code with the exception of displaying user-friendly foreign key drop-downs, using placeholders
for input fields instead of labels, and utilizing a trash icon to show the delete feature.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

{{!-- display service during visit table --}}
<table id="services-during-visit-table">
    <caption>Services During Visit</caption>
    {{!-- display service during visit header --}}
    <thead>
        <tr>
            <th>Service During Visit ID</th>
            <th>Visit</th>
            <th>Service</th>
        </tr>
    </thead>

    {{!-- display every row from services during visit table with attributes: service during visit id, visit id, service
    id--}}
    <tbody id="services-during-visit-table-body">
        {{#each services_during_visit_data}}
        <tr data-value="{{this.service_during_visit_id}}">
            <td>{{this.service_during_visit_id}}</td>
            <td>{{formatDate this.visit_date}} {{this.pet_name}}</td>
            <td>{{this.service_name}}</td>
            {{!-- display delete button where delete functionality is executed on click for the corresponding row --}}
            <td><button onclick="deleteServiceDuringVisit({{this.service_during_visit_id}})"><i
                        class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_service_during_visit.js"></script>

<div class="forms">
    {{!-- Form to add a service during visit record to the table --}}
    <form id="add-services-during-visit-form-ajax">
        <h2>Add New Service During Visit</h2>
        {{!-- display dropdown by iterating through each row --}}
        <select name="input-visit-id" id="input-visit-id" required>
            <option value="">Visit [ID]</option>
            {{#each visits_data}}
            <option value="{{this.visit_id}}">{{formatDate this.visit_date}} {{this.pet_name}} [{{this.visit_id}}]
            </option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row --}}
        <select name="input-service-id" id="input-service-id" required>
            <option value="">Service [ID]</option>
            {{#each services_data}}
            <option value="{{this.service_id}}">{{this.service_name}} [{{this.service_id}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Add Services During Visit">
        <br>
    </form>
    <script src="./js/add_service_during_visit.js"></script>

    {{!-- Form to update a service during vist record from the table --}}
    <form id="update-service-during-visit-form-ajax">
        <h2>Update Service During Visit Data</h2>
        {{!-- display dropdown by iterating through each row --}}
        <select name="select-service-during-visit-id" id="select-service-during-visit-id" required>
            <option value="">Service During Visit ID</option>
            {{#each services_during_visit_data}}
            <option value="{{this.service_during_visit_id}}">{{this.service_during_visit_id}}</option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row --}}
        <select name="update-visit-id" id="update-visit-id" required>
            <option value="">Visit [ID]</option>
            {{#each visits_data}}
            <option value="{{this.visit_id}}">{{formatDate this.visit_date}} {{this.pet_name}} [{{this.visit_id}}]
            </option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row --}}
        <select name="update-service-id" id="update-service-id" required>
            <option value="">Service [ID]</option>
            {{#each services_data}}
            <option value="{{this.service_id}}">{{this.service_name}} [{{this.service_id}}]</option>
            {{/each}}
        </select>
        <br>
        <input type="submit" value="Update Service During Visit">
        <br>
    </form>

    <script src="./js/update_service_during_visit.js"></script>
</div>