{{!-- Citation for the following function:
Date: 03/07/2024
Based on: CS 340 starter code with the exception of displaying user-friendly foreign key drop-downs, using placeholders
for input fields instead of labels, and utilizing a trash icon to show the delete feature.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

{{!-- display services table --}}
<table id="services-table">
    <caption>Services</caption>
    {{!-- display services header --}}
    <thead>
        <tr>
            <th>Service ID</th>
            <th>Service Name</th>
            <th>Service Cost ($)</th>
            <th>Description</th>
        </tr>
    </thead>

    {{!-- display every row from services table with attributes: service id, service name, service cost, service
    description --}}
    <tbody id="services-table-body">
        {{#each services_data}}
        <tr data-value="{{this.service_id}}">
            <td>{{this.service_id}}</td>
            <td>{{this.service_name}}</td>
            <td>{{this.service_cost}}</td>
            <td>{{this.service_description}}</td>
            {{!-- display delete button where delete functionality is executed on click for the corresponding row --}}
            <td><button onclick="deleteService({{this.service_id}})"><i class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


<script src="./js/delete_service.js"></script>


<div class="forms">
    {{!-- Form to add a new service record to the table --}}
    <form id="add-service-form-ajax">
        <h2>Add New Service</h2>

        <input type="text" name="input-service-name" id="input-service-name" placeholder="Service Name" required>
        <br>
        <input type="number" name="input-service-cost" id="input-service-cost" placeholder="Service Cost" required>
        <br>
        <input type="text" name="input-service-description" id="input-service-description"
            placeholder="Service Description">
        <br>
        <input type="submit" value="Add Service">
        <br>
    </form>

    <script src="./js/add_service.js"></script>

    {{!-- Form to update a service record from the table --}}
    <form id="update-service-form-ajax">
        <h2>Update Service Data</h2>
        {{!-- display dropdown by iterating through each row --}}
        <select name="select-service-id" id="select-service-id">
            <option>Service ID</option>
            {{#each services_data}}
            <option value="{{this.service_id}}">{{this.service_id}}</option>
            {{/each}}
        </select>
        <br>
        <input type="text" name="update-service-name" id="update-service-name" placeholder="Service Name" required>

        <br>
        <input type="number" name="update-service-cost" id="update-service-cost" placeholder="Service Cost" required>
        <br>
        <input type="text" name="update-service-description" id="update-service-description"
            placeholder="Service Description">
        <br>
        <input type="submit" value="Update Service">
        <br>
    </form>

    <script src="./js/update_service.js"></script>
</div>