{{!-- Citation for the following function:
Date: 03/07/2024
Based on: CS 340 starter code with the exception of displaying user-friendly foreign key drop-downs, using placeholders for input fields instead of labels, utilizing a trash icon to show the delete feature, and implementing date input fields to correctly display the date.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

{{!-- display visits table --}}
<table id="visits-table">
    <caption>Visits</caption>
    {{!-- display visits header --}}
    <thead>
        <tr>
            <th>Visit ID</th>
            <th>Pet ID</th>
            <th>Visit Date</th>
            <th>Visit Cost ($)</th>
        </tr>
    </thead>

    {{!-- display every row from visits table with attributes: visit id, pet id, visit date, visit cost --}}
    <tbody id="visits-table-body">
        {{#each visits_data}}
        <tr data-value="{{this.visit_id}}">
            <td>{{this.visit_id}}</td>
            <td>{{this.pet_id}}</td>
            <td>{{formatDate this.visit_date}}</td>
            <td>{{this.visit_cost}}</td>
            {{!-- display delete button where delete functionality is executed on click for the corresponding row --}}
            <td><button onclick="deleteVisit({{this.visit_id}})"><i class="fa fa-trash"></i></button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_visit.js"></script>


<div class="forms">
    {{!-- Form to add a visit record to the table --}}
    <form id="add-visit-form-ajax">
        <h2>Add New Visit</h2>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="input-pet-id" id="input-pet-id">
            <option>Pet ID</option>
            {{#each pets_data}}
            <option value="{{this.pet_id}}">{{this.pet_id}}</option>
            {{/each}}
        </select>
        <br>
        <input type="date" name="input-visit-date" id="input-visit-date" placeholder="Visit Date">
        <br>
        <input type="number" name="input-visit-cost" id="input-visit-cost" placeholder="Visit Cost">
        <br>
        <input type="submit" value="Add Visit">
        <br>
    </form>

    <script src="./js/add_visit.js"></script>

    {{!-- Form to update a visit record from the table --}}
    <form id="update-visit-form-ajax">
        <h2>Update Visit Data</h2>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="select-visit-id" id="select-visit-id">
            <option>Visit ID</option>
            {{#each visits_data}}
            <option value="{{this.visit_id}}">{{this.visit_id}}</option>
            {{/each}}
        </select>
        <br>
        {{!-- display dropdown by iterating through each row  --}}
        <select name="update-pet-id" id="update-pet-id">
            <option>Pet ID</option>
            {{#each pets_data}}
            <option value="{{this.pet_id}}">{{this.pet_id}}</option>
            {{/each}}
        </select>

        <br>
        <input type="date" name="update-visit-date" id="update-visit-date" placeholder="Visit Date">
        <br>
        <input type="number" name="update-visit-cost" id="update-visit-cost" placeholder="Visit Cost">
        <br>
        <input type="submit" value="Update Visit">
        <br>
    </form>

    <script src="./js/update_visit.js"></script>
</div>