
<table id="visits-table">
    <caption>Visits</caption>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each visits_data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="visits-table-body">

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each visits_data}}
        <tr data-value="{{this.visit_id}}">
            <td>{{this.visit_id}}</td>
            <td>{{this.pet_id}}</td>
            <td>{{this.visit_date}}</td>
            <td>{{this.visit_cost}}</td>
            <td><button onclick="deleteVisit({{this.visit_id}})">Delete</button></td> 
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_visit.js"></script>


{{!-- Form to add a record to the table --}}

<form id="add-visit-form-ajax">
    <h2>Adding Visit Form</h2>

    <select name="input-pet-id" id="input-pet-id">
        <option>Pet ID</option>
        {{#each pets_data}}
        <option value="{{this.pet_id}}">{{this.pet_id}}</option>
        {{/each}}
    </select>

    <input type="date" name="input-visit-date" id="input-visit-date" placeholder="Visit Date">

    <input type="number" name="input-visit-cost" id="input-visit-cost" placeholder="Visit Cost">

    <input type="submit" value="Add Visit">
</form>

<script src="./js/add_visit.js"></script>



<form id="update-visit-form-ajax">
    <h2>Updating Visit Form</h2>
    <select name="select-visit-id" id="select-visit-id">
        <option>Visit ID</option>
        {{#each visits_data}}
        <option value="{{this.visit_id}}">{{this.visit_id}}</option>
        {{/each}}
    </select>

    <select name="update-pet-id" id="update-pet-id">
        <option>Pet ID</option>
        {{#each pets_data}}
        <option value="{{this.pet_id}}">{{this.pet_id}}</option>
        {{/each}}
    </select>


    <input type="date" name="update-visit-date" id="update-visit-date" placeholder="Visit Date">

    <input type="number" name="update-visit-cost" id="update-visit-cost" placeholder="Visit Cost">
    <input type="submit" value="Update Visit">

</form>

<script src="./js/update_visit.js"></script>
