
<table id="visits-table">
    <caption>Visits</caption>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each visits_data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody id="visits-table-body">

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each visits_data}}
        <tr data-value="{{this.visit_id}}">
            <td>{{this.visit_id}}</td>
            <td>{{this.pet_id}}</td>
            <td>{{this.visit_date}}</td>
            <td>{{this.visit_cost}}</td>
            <td><button onclick="deleteVisit({{this.visit_id}})">Delete</button></td> 
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="./js/delete_visit.js"></script>


{{!-- Form to add a record to the table --}}
<h2>Adding Visit Form</h2>
<form id="add-visit-form-ajax">
    <label for="input-pet-id">Pet ID: </label>
    <select name="input-pet-id" id="input-pet-id">
        <option>Select</option>
        {{#each pets_data}}
        <option value="{{this.pet_id}}">{{this.pet_id}}</option>
        {{/each}}
    </select>

    <label for="input-visit-date">Visit Date: </label>
    <input type="date" name="input-visit-date" id="input-visit-date">

    <label for="input-visit-cost">Cost: </label>
    <input type="number" name="input-visit-cost" id="input-visit-cost">

    <input type="submit" value="Add Visit">
</form>

<script src="./js/add_visit.js"></script>


<h2>Updating Visit Form</h2>
<form id="update-visit-form-ajax">

    <label for="select-visit-id">Visit ID:</label>
    <select name="select-visit-id" id="select-visit-id">
        <option>Select</option>
        {{#each visits_data}}
        <option value="{{this.visit_id}}">{{this.visit_id}}</option>
        {{/each}}
    </select>

    <label for="update-pet-id">Pet ID: </label>
    <select name="update-pet-id" id="update-pet-id">
        <option>Select</option>
        {{#each pets_data}}
        <option value="{{this.pet_id}}">{{this.pet_id}}</option>
        {{/each}}
    </select>

    <label for="update-visit-date">Visit Date: </label>
    <input type="date" name="update-visit-date" id="update-visit-date">

    <label for="update-visit-cost">Cost: </label>
    <input type="number" name="update-visit-cost" id="update-visit-cost">
    <input type="submit" value="Update Visit">

</form>

<script src="./js/update_visit.js"></script>
